Notebook to create a CSV dataset from the data provided in the `My Best Model.ipynb` notebook, so that it can be tracked and versioned.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# This is the original data
xs = np.array([-1.0, 0.0, 1.0, 2.0, 3.0, 4.0], dtype=float)
ys = np.array([-2.0, 1.0, 4.0, 7.0, 10.0, 13.0], dtype=float)

In [3]:
# Convert the NumPy arrays to a DataFrame
data = np.vstack((xs, ys)).transpose()
df = pd.DataFrame(data, columns=["x", "y"])

In [4]:
df.head()

     x     y
0 -1.0  -2.0
1  0.0   1.0
2  1.0   4.0
3  2.0   7.0
4  3.0  10.0

In [19]:
# Write the DataFrame as CSV
df.to_csv("dataset.csv", index=False)